# Dependencies
node_modules
.pnpm-store

# Turborepo
.turbo

# Next.js
.next
out

# Build outputs
dist
build

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp

# Test coverage
coverage
